<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>ellipsis_care</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.1097324899248-gliehr0unf41i1doulqpjn55k7qhu266</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>sms</string>
			<string>tel</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSCalendarsFullAccessUsageDescription</key>
		<string>Ellipsis Care requires addidtional permission to add, edit and update device calendar.</string>
		<key>NSCalendarsUsageDescription</key>
		<string>Ellipsis Care requires permission to add, edit and update device calendar.</string>
		<key>NSContactsUsageDescription</key>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Ellipsis Care requires access to the device location.</string>
		<string>Ellipsis Care requires permission to add contacts</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Ellipsis Care requires access to location when open.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Ellipsis Care requires permission to record audio</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>Speech Recognition is required</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>audio</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen.storyboard</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarStyle</key>
		<string></string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
	</dict>
</plist>
